body{
    background:#3908ea;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    width:400px;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.eye-icon{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}